/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore RuboCop cache
.rubocop-http---shopify-github-io-ruby-style-guide-rubocop-yml

.byebug_history
.ruby-version
coverage/*
dev/flamegraph.svg
dev/profile
dev/flamegraph.pl
.local-context
