name: Krane CI

on: [push]

jobs:
  ruby-tests:
    runs-on: ubuntu-latest
    env:
      CI: true

    name: "Tests (${{matrix.test_suite}}) - Ruby ${{ matrix.ruby }} with Kubernetes ${{ matrix.kubernetes_version }}"
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.2.2"
          - "3.1.2"
          - "3.0.4"
          - "2.7.6"
        kubernetes_version:
          - "1.33.1"
          - "1.32.5"
          - "1.31.2"
          - "1.30.0"
          - "1.29.4"
        test_suite:
          - "unit_test"
          - "cli_test"
          - "serial_integration_test"
          - "integration_test"
        include:
          - kubernetes_version: "1.33.1"
            kind_image: "kindest/node:v1.33.1@sha256:050072256b9a903bd914c0b2866828150cb229cea0efe5892e2b644d5dd3b34f"
          - kubernetes_version: "1.32.5"
            kind_image: "kindest/node:v1.32.5@sha256:e3b2327e3a5ab8c76f5ece68936e4cafaa82edf58486b769727ab0b3b97a5b0d"
          - kubernetes_version: "1.31.2"
            kind_image: "kindest/node:v1.31.2@sha256:18fbefc20a7113353c7b75b5c869d7145a6abd6269154825872dc59c1329912e"
          - kubernetes_version: "1.30.0"
            kind_image: "kindest/node:v1.30.0@sha256:047357ac0cfea04663786a612ba1eaba9702bef25227a794b52890dd8bcd692e"
          - kubernetes_version: "1.29.4"
            kind_image: "kindest/node:v1.29.4@sha256:3abb816a5b1061fb15c6e9e60856ec40d56b7b52bcea5f5f1350bc6e2320b6f8"

    steps:
      - uses: actions/checkout@v3

      - name: Setup Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Setup kubectl ${{ matrix.kubernetes_version }}
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/bin"
          curl -o "${GITHUB_WORKSPACE}/bin/kubectl" -LO "https://dl.k8s.io/release/v${{ matrix.kubernetes_version }}/bin/linux/amd64/kubectl"
          chmod +x "${GITHUB_WORKSPACE}/bin/kubectl"
          echo "PATH=$GITHUB_WORKSPACE/bin:${PATH}" >> $GITHUB_ENV

      - name: Create kind cluster for ${{ matrix.kubernetes_version }}
        run: |
          kind create cluster --image=${{ matrix.kind_image }}

      - name: Run tests
        run: |
          bin/test ${{matrix.test_suite}}
