name: Krane CI

on: [push]

jobs:
  ruby-tests:
    runs-on: ubuntu-latest

    name: "Tests - Ruby ${{ matrix.ruby }} with k8s ${{ matrix.kubernetes_version }}"
    strategy:
      fail-fast: false
      matrix:
        ruby:
        # Use unique Ruby versions, or GitHub gets confused when building the rest of the matrix
        - '3.0.3' # With k8s 1.23
        - '3.0.2' # With k8s 1.22
        - '3.0.1' # With k8s 1.21
        - '3.0' # With k8s 1.20
        - '2.7' # With k8s 1.19
        - '2.6.8' # With k8s 1.18
        - '2.6.7' # With k8s 1.17
        include:
        # Match kind images with chosen version https://github.com/kubernetes-sigs/kind/releases
        - ruby: '3.0.3'
          kind_version: 'v0.11.1'
          kubernetes_version: '1.23.0'
          kind_image: 'kindest/node:v1.23.0@sha256:49824ab1727c04e56a21a5d8372a402fcd32ea51ac96a2706a12af38934f81ac'
        - ruby: '3.0.2'
          kind_version: 'v0.11.1'
          kubernetes_version: '1.22.0'
          kind_image: 'kindest/node:v1.22.0@sha256:b8bda84bb3a190e6e028b1760d277454a72267a5454b57db34437c34a588d047'
        - ruby: '3.0.1'
          kind_version: 'v0.11.1'
          kubernetes_version: '1.21.1'
          kind_image: 'kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6'
        - ruby: '3.0'
          kind_version: 'v0.11.1'
          kubernetes_version: '1.20.7'
          kind_image: 'kindest/node:v1.20.7@sha256:cbeaf907fc78ac97ce7b625e4bf0de16e3ea725daf6b04f930bd14c67c671ff9'
        - ruby: '2.7'
          kind_version: 'v0.11.1'
          kubernetes_version: '1.19.11'
          kind_image: 'kindest/node:v1.19.11@sha256:07db187ae84b4b7de440a73886f008cf903fcf5764ba8106a9fd5243d6f32729'
        - ruby: '2.6.8'
          kind_version: 'v0.11.1'
          kubernetes_version: '1.18.19'
          kind_image: '1.18: kindest/node:v1.18.19@sha256:7af1492e19b3192a79f606e43c35fb741e520d195f96399284515f077b3b622c'
        - ruby: '2.6.7'
          kind_version: 'v0.11.1'
          kubernetes_version: '1.17.17'
          kind_image: 'kindest/node:v1.17.17@sha256:66f1d0d91a88b8a001811e2f1054af60eef3b669a9a74f9b6db871f2f1eeed00'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Setup kubectl
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/bin"
          curl -o "${GITHUB_WORKSPACE}/bin/kubectl" -LO "https://dl.k8s.io/release/v${{ matrix.kubernetes_version }}/bin/linux/amd64/kubectl"
          chmod +x "${GITHUB_WORKSPACE}/bin/kubectl"
          echo "PATH=$GITHUB_WORKSPACE/bin:${PATH}" >> $GITHUB_ENV

      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "${{ matrix.kind_version }}"
          image: "${{ matrix.kind_image }}"

      - name: Run tests
        run: |
          bin/test
